[Desktop Entry]
Name=Kapow Punch Clock
Name[cs]=Evidence pracovní doby Kapow
Name[da]=Kapow Punch Clock
Name[de]=Kapow Zeiterfassung
Name[el]=Χρονόμετρο εργασίας Kapow
Name[es]=Reloj de control Kapow
Name[nl]=Kapow tikklok
Name[no]=Kapow Stemplingsur
Name[pl]=Rejestracja czasu pracy Kapow
Name[pt_BR]=Relógio de ponto Kapow
Name[ro]=Kapow Punch Clock
Name[ru]=Kapow Учет времени
Name[tr]=Kapow Kokteyl Saat
GenericName=Punch Clock
GenericName[cs]=Evidence pracovní doby
GenericName[da]=Punch Clock
GenericName[de]=Zeiterfassung
GenericName[el]=Χρονόμετρο εργασίας
GenericName[es]=Reloj de control
GenericName[nl]=tikklok
GenericName[no]=Stemplingsur
GenericName[pl]=Rejestracja czasu pracy
GenericName[pt_BR]=Relógio de ponto
GenericName[ro]=Punch Clock
GenericName[ru]=Учет времени
GenericName[tr]=Kokteyl Saat
Comment=Keep track of time spent on projects
Comment[cs]=Udržovat si přehled o čase stráveném nad projekty
Comment[da]=Overvåg tidsforbrug for projekter
Comment[de]=Verfolgen Sie Ihre Arbeitszeiten an Projekten
Comment[el]=Παρακολούθηση του χρόνου που δαπανάται σε έργα
Comment[es]=Realice un seguimiento del tiempo que invierte en proyectos
Comment[nl]=Tijdadministratie voor projecten
Comment[no]=Hold styring på tidsbruken på prosjekter
Comment[pl]=Rejestracja czasu spędzonego przy projektach
Comment[pt_BR]=Mantenha o registro do tempo gasto em projetos
Comment[ro]=Ţineţi evidenţa timpului petrecut pe proiecte
Comment[ru]=Отслеживать потраченое время на проекты
Comment[tr]=Projeler için harcanan zamanı takip edin
Exec=kapow
Icon=kapow
Terminal=false
Type=Application
Categories=Qt;Office;Calendar;
