[Desktop Entry]
Name=Kapow Punch Clock
Name[cs]=Evidence pracovní doby Kapow
Name[da]=Kapow stopur
Name[de]=Kapow Zeiterfassung
Name[el]=Kapow Punch Clock
Name[es]=Reloj de control Kapow
Name[fr]=Pointeuse Kapow
Name[it]=Kapow, il timbra cartellino
Name[lt]=Kapow kontrolinis laikrodis
Name[nl]=Kapow Prikklok
Name[no]=Kapow Stemplingsur
Name[pl]=Rejestracja czasu pracy Kapow
Name[pt]=Relógio de Ponto Kapow
Name[pt_BR]=Relógio de ponto Kapow
Name[ro]=Kapow Punch Clock
Name[ru]=Kapow Punch Clock
Name[sv]=Kapow Stämpelklocka
Name[tr]=Kapow Kokteyl Saat
GenericName=Punch Clock
GenericName[cs]=Evidence pracovní doby
GenericName[da]=Stopur
GenericName[de]=Zeiterfassung
GenericName[el]=Ρολόι Punch
GenericName[es]=Reloj de control
GenericName[fr]=Pointeuse horaire
GenericName[it]=Timbra Cartellino
GenericName[lt]=Kontrolinis laikrodis
GenericName[nl]=Prikklok
GenericName[no]=Stemplingsur
GenericName[pl]=Rejestracja czasu pracy
GenericName[pt]=Relógio de Ponto
GenericName[pt_BR]=Relógio de ponto
GenericName[ro]=Punch Clock
GenericName[ru]=Учёт времени
GenericName[sv]=Stämpelklocka
GenericName[tr]=Kokteyl Saat
Comment=Keep track of time spent on projects
Comment[cs]=Udržujte si přehled o čase stráveném nad projekty
Comment[da]=Hold styr på, hvor meget tid der bruges på projekter
Comment[de]=Verfolgen Sie Ihre Arbeitszeiten an Projekten
Comment[el]=Παρακολουθήστε το χρόνο που δαπανάτε σε έργα
Comment[es]=Realice un seguimiento del tiempo que invierte en proyectos
Comment[fr]=Conservez une trace du temps passé sur vos projets
Comment[it]=Tieni traccia del tempo speso nel progetto
Comment[lt]=Sekite projektams išleistą laiką
Comment[nl]=Houdt de tijd bij die u spendeert aan projecten
Comment[no]=Ha kontroll over tidsforbruk på prosjekter
Comment[pl]=Śledź twój czas poświęcony na projekty
Comment[pt]=Registe e controle o tempo gasto em projetos
Comment[pt_BR]=Mantenha o registro do tempo gasto em projetos
Comment[ro]=Ţineţi evidenţa timpului petrecut pe proiecte
Comment[ru]=Следите за временем, затраченным на проекты
Comment[sv]=Håll koll på tiden som du spenderar på projekt
Comment[tr]=Projeler için harcanan zamanı takip edin
Exec=kapow
Icon=kapow
Terminal=false
Type=Application
Categories=Qt;Office;Calendar;
